<a href="https://colab.research.google.com/github/hosigawu/Python-/blob/main/Pandas%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import csv
from csv import reader

In [ ]:
import os
import xlrd
import openpyxl

python字典轉換成dataframe
https://www.delftstack.com/zh-tw/howto/python-pandas/how-to-convert-python-dictionary-to-pandas-dataframe/

pandas合併文字文字
https://www.delftstack.com/zh-tw/howto/python-pandas/how-to-combine-two-columns-of-text-in-dataframe-in-pandas/

pandas字符串分割分割
https://blog.csdn.net/qq_41076797/article/details/103206175

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

完成2.1的要求

In [ ]:
txt = "正品      ^          ^11-1336 04  B70 ^       6"

x = txt.split('^')

del x[1]
print(x)

['正品      ', '11-1336 04  B70 ', '       6']

In [ ]:
import os
import xlrd
#填上對的路徑
data = xlrd.open_workbook(os.path.join（' '）)
table = data.sheets()[0]
nrows = table.nrows
ls = []
for i in range(nrows):
  ls.append(i)
#對ls每一個元素作字串處理
newls = [] 
for j in range(len(ls)):
  ls[j] = ls[j].split('^')
  del ls[j][1]
  newls.append(ls[j])

In [ ]:
data = pd.DataFrame({"賣場":["Amy","Bob"], "商品貨號":["150","160"], "可售數量":["1","2"]})

In [ ]:
print(data)

    賣場 商品貨號 可售數量
0  Amy  150    1
1  Bob  160    2

算維度 並把第一列 第二列 第三列 都列出來

In [ ]:
print(data.shape)

(2, 3)

In [ ]:
ls1 = []
for i in range(len(newls)):
  ls1.append(newls[i][0])

In [ ]:
ls2 = []
for i in range(len(newls)):
  ls2.append(newls[i][1])

In [ ]:
ls3 = []
for i in range(len(newls)):
  ls3.append(newls[i][2])

In [ ]:
data = pd.DataFrame({"賣場":ls1, "商品貨號":ls2, "可售數量":ls3})

至此,應可完成到2.3的部分

一般的例子

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

# create a dataframe after reading .csv file
dataframe = pd.read_csv (r'C:\Users\DELL\OneDrive\Desktop\CSV_files\Samplefile1.csv') 

# print dataframe
print(dataframe)

# displaying dataframe shape 
print('The shape of the DataFrame is: ', dataframe.shape)

刪除dataframe row or colume

In [ ]:
{"1":正品      ^          ^11-1214 04  B70 ^       4,"2":}

In [ ]:
a = ["trp ui"]

In [ ]:
for i in a:
  print(i)

trp ui

In [ ]:
for i in a:
  if i == " ":
    i = "#"
    a+=i

In [ ]:
print(a)

['trp ui']

In [ ]:
a = ["123"]
a.append("@")

In [ ]:
b = str(a)
b+='@'

In [ ]:
print(a)

['123', '@']

In [ ]:
print(b)

['123', '@']@